.section {
  padding-top: 20px;
  padding-bottom: 50px;
}
.Container {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.Items {
  margin-bottom: 5px;
}

.Link {
  margin-top: 15px;
  list-style: none;
  text-decoration: none;
  color: #032541;
  font-weight: 700;
}
.Img {
  max-width: 500px;
}
.Title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Genres {
  margin-bottom: 5px;
}
.Paragraphe {
  font-weight: 700;
}
